.tweet {
    height: 50%;
    border: 0.5px solid grey;
    width: 85%;
    display: flex;
    flex: 1;
    padding: 0 0 0 100px;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

}
.circle-img {
    border-radius: 50%; 
    object-fit: cover;
    height: 40px;
    width: 40px;
    margin-right: 10px; 
  }
  .person-name {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .tweet-header{
    display: flex;
    margin-left: -90px;
  }
  .tweet-content{
    display: block;
    margin-top: -30px ;
    margin-left: -40px;
  }
  .icon {
    height: 17px;
    /* width: 30px; */
  }
  .icons {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .container-icons {
    display: flex;
    justify-content: space-around;
  }
  textarea {
    display: block;
    width: 100%;
    
  }
  .tweet-sembol {
    color: #1DA1F2;
    padding: 5px;
   
   
  }
  .btn-tweet {
    background-color: #1DA1F2 ;
    border-radius: 50px;
  }
  .text-footer{
    display: flex;
    justify-content: space-around;
  }
  
  .home-nav{
    display: flex;
    justify-content: space-around;
  }